.background-card{
    transform: rotate(0deg);
    width: 245px;
    height: 182px;
    color: white;
}
.front-card{
    transform: rotate(8deg);
    width: 245px;
    height: 182px;
    position: absolute;
}