.big-w{
    font-size: 450px;
    position: absolute;
    margin: -256px 0px 0px 34px;
}
.choose-us-card{
    height:500px;
    width: 1000px;
    // align-items: center;
    margin: 220px 0px 75px 182px;  
    opacity: 0.9;
  
}
.icon-width{
    font-size: 45px;
    width: 150px;
    height: 150px;
    color: white;
    // align-items: center !important;
}

.row-margin{
    margin: 45px 7px 45px 25px
    
}
.text-size{
    font-size: 14px;
    margin-top: 10px;
}