// @import "~bootstrap/scss/bootstrap";

.position-cards{
    margin-top: -100px;
}
.count-up-styles{
    margin-top: 100px;
}

.position-image-3d{
    align-items: center;
    margin-top: 100px;
}
.design-font{
    font-size: 36px;
}